<suite name="SmokeSuite" verbose="1" parallel="tests"
	thread-count="5">
	<!-- <listeners> <listener class-name="org.uncommons.reportng.HTMLReporter" 
		/> <listener class-name="org.uncommons.reportng.JUnitXMLReporter" /> </listeners> -->

	<tests>

		<test name="run on MobileDevice_1">

			<classes>
				<parameter name="port" value="4723" />
				<parameter name="device" value="192.168.2.106:5555"></parameter>

				<class name="testpkg.ParallelTest">
					<methods>

						<execute name="ValidLoginTest" />
					</methods>
				</class>
			</classes>
		</test>

		<test name="run on emulator5.1_2">

			<classes>
				<parameter name="port" value="4725"></parameter>
				<parameter name="device" value="10.0.0.2:5555"></parameter>
				
				<class name="testpkg.ParallelTest">
					<methods>
						<include name="ValidLoginTest" />
					</methods>
				</class>
			</classes>
		</test>
	</tests>
</suite>